/* 共通 */
*{
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
body{
  font-family: serif;
  background: #000;
}

a{
  text-decoration: none;
}

/* ヘッダー */
.custom-header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* padding: 8px 0px; */
  transition: all 0.5s ease;
  background-color: #7f735b;

}
.header-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
   margin: 0 auto;
   padding-left: 16px;
   padding-right: 16px; 
}
.menu-inner{
  display: flex;
  align-items: center;
  /* column-gap: 32px; */
  list-style: none!important;
}
.header-brand{
  height: 60px;
  width: 96px;
  margin: 0 8px;
  background-image: url("/img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-link{
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 16px;
  text-decoration: none;
  display: inline-block;
  transition: .3s ease;
  height: 72px;
  display: flex;
  align-items: center;
}
.bg-register{
  background-color: #000;
}
.bg-trial{
  background-color: gray;
}
.bg-reserve{
  background-color: #fff;
}
.bg-reserve a{
  color: #7f735b!important;
}
.menu-item .contact{
  background: #fff;
  color: #000;
  padding: 12px 12px 12px 24px;
  font-weight: normal;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;
  transition: .3s ease;
  border: 1px solid #fff;
}
.menu-item .contact:hover{
  background: #000;
  color: #fff;
  border: 1px solid #000;
}
.menu-link:after{
  position: absolute;
  background: #153d46;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 0;
  width: 0;
  transition: .5s;
}
.custom-header .menu-link:hover::after{
  background-color: #fff;
  left: 0;
  right: auto;
  width: 100%;
}
.custom-header.on-scroll .menu-link:hover::after{
  background: #153d46;
  left: 0;
  right: auto;
  width: 100%;
}


.burger{
  position: relative;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  width: 24px;
  height: 24px;
  outline: none;
  transform: rotate(0deg);
  transition: .5s ease;
}
.burger-content{
  display: none;
  text-align: center;
  padding: 0 12px;
  cursor: pointer;
}
.burger-ttl{
  font-size: 8px;
  color: #fff;
}
.burger-line{
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  transform: rotate(0deg);
  background-color: #fff;
  transition: .5s ease;
}
.burger-line:nth-child(1){
  top: 0px;
}
.burger-line:nth-child(2){
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3){
  top: 1rem;
}
.burger.active .burger-line:nth-child(1){
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.active .burger-line:nth-child(2){
  opacity: 0;
  visibility: hidden;
}
.burger.active .burger-line:nth-child(3){
  top: 0.5rem;
  transform: rotate(-135deg);
}
.header-phone-menu{
  opacity: 0;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #5f523a;
  z-index: 10;
  transition: .5s ease;
  padding-top: 60px;
}
.header-phone-menu.active{
  opacity: 1;
  transform: translateY(0);
}
.phone-menu-list{
  border-bottom: 1px solid #fff;
}
.phone-menu-list a {
  display: block;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-family: inherit;
}
@media screen and (max-width: 978px){
  .header-menu {
    display: none;
  }
  .custom-header{
    padding: 0;
  }
  .burger-content{
    display: block;
  }
  .header-dummy{
    display: block;
  }
}



/* フッター*/
footer{
	border-top: 1px solid #646464;
}
.footer-ttl{
  position: relative;
  padding-top: 24px;
  margin: 0 24px;
  width: unset;
  color: #fff;
}
.footer-ttl:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 2px;
    background: #edee22;
}
.footer-link {
  color: black!important;
}
.footer-link:hover{
  color: white!important;
}
.online-btn{
  padding: 24px 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  color: white!important;
  text-decoration: none;
  background-color: #000;
  border: 1px solid white;
}
.online-btn:hover{
  background-color: #fff;
  color: #000!important;
}
.footer-logo{
  width: 25%;
}

@media screen and (max-width: 480px) {
  .footer-logo{
    width: 40%;
  }
  .footer-ttl{
    width: 100%;
  }
}

.sp-footer{
  position: fixed;
  z-index: 10;;
  bottom: 0;
  width: 100%;
  display: flex;
    justify-content: space-between;
    right: auto;
    left: 0;
    background: #231f20;
}
@media screen and (min-width: 960px) {
  .sp-footer{
    display: none;
  }
}


.reserve-btn {
  padding: 24px 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  color: #000!important;
  text-decoration: none;
  background-image:linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%)
}
.reserve-btn:hover {
  background-image: radial-gradient(circle, rgb(255 217 0), rgb(199 156 49) 79%);
}

.use-btn{
  padding: 16px 24px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: gray;
  display: inline-block;
}
.use-btn:hover{
  background-color: #414141;
}




/*アニメーション*/

.fadeB {
  opacity: 0;
  transform: translateY(50px);
  transition: ease-out 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.fadeB.active {
  opacity: 1;
  transform: translateY(0);
	transition: .5s;
}

.fadeL {
  opacity: 0;
  transform: translateX(50px);
  transition: ease-out 1s;
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.fadeL.active{
  opacity: 1;
  transform: translateX(0);
  transition: .5s;
}

.fade{
	opacity: 0;
  transition: ease-out 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.fade.active{
	opacity: 1;
	
}

.anim-box.poyopoyo {
  animation: poyopoyo 2s ease-out infinite;
}
@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.97);
  }
}

.customize-unpreviewable{
	cursor: pointer!important;
}



table {
  width: 100%;
}
table th {
  background: #2d2d2d;
  border: solid 0.5px #565656;
  padding: 12px;
  font-weight: bold;
  text-align: left;
}
table td {
  background: #1f1f1f;
  border: solid 0.5px #565656;
  padding: 12px;
}
@media screen and (max-width: 576px){
  table.responsive-table th {
    border-bottom: none;
    width: 100%!important;
    display: block;
  }
  table.responsive-table td {
    border-bottom: none;
    width: 100%!important;
    display: block;
  }
}



/* secondページ */
.second-section{
  padding: 120px 16px 60px 16px;
  max-width: 960px;
  margin: 0 auto;
  color: #fff;
}
.second-section .title{
  font-size: 24px;
  margin-bottom: 12px;;
  font-weight: bold;
}


.exp-contents{
  line-height: 2.25rem;
  margin-bottom: 48px;
}
.exp-contents .exp-title{
  font-size: 20px;
  font-weight: bold;
}
.exp-contents ul{
  padding-left: 1rem;
}


